$color1: #092327;	// Dark teal
$color2: #2A9D8F;	// Teal
$color3: #E08DAC;	// Dusty pink
$color4: #E2FCEF;	// Light mint
$color5: #6A7FDB;	// Powder blue
$color6: #424242;	// Shadow
$color7: #212121;	// Text color black
$color8: #FAFAFA;	// Text color white

/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

body {
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

/* TODO: remove later...*/
.placeholder-large {
	height: 1800px;
}

.header-content {
    width: 100%;
    height: 600px;
    background-color: $color1;
}

.header-top-bar {
    height: 120px;
	width: 100%;
	background-color: $color1;
	position: fixed;
	top: 0;
	z-index: 1;
}

img.logo {
    height: 72px;
    padding: 24px;
	filter: grayscale(100%) opacity(30%);

	&:hover {
		filter: none;
		cursor: pointer;
	}

}

.header-toolbar {
    display: inline-block;
    position: absolute;
    right: 0;
	top: 48px;

	& > a {
		color: #FAFAFA;
		margin-right: 24px;
		font-size: 18px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

.header-quote {
	width: 100%;
	height: 600px;
	margin-top: 120px;

	.quote {
		padding-top: 204px;
		color: $color4;
	}

	.quote-sub {
		color: $color4;
	}
}

.bg-pink {
	background-color: $color3;
}

.quote {
    width: 100%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.quote-sub {
	width: 100%;
    padding-top: 12px;
    text-align: center;
    font-size: 24px;
    opacity: 0.7;
    letter-spacing: 3px;
}

.page-card {
	margin: 12px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	label.title {
	    width: 100%;
	    color: $color8;
	    font-size: 48px;
	    text-align: center;
	    letter-spacing: 12px;
	    margin: 24px 60px;
    	border-bottom: 1px solid white;
	}

	.quote {
        color: $color8;
	}

	.quote-sub {
        color: $color8;
		padding-bottom: 24px;
	}

	.page-card-3 {
		flex: 0 1 360px;
    	padding: 12px;

		img {
			width: 360px;
    		padding: 6px;
		}
	}
}

.ease-in {
	animation-name: ease-in;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.ease-out {
	animation-name: ease-out;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes ease-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes ease-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
